* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: Roboto, sans-serif;

  overflow: hidden;

  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

#infimo {
  background-color: rgb(250, 250, 248);
  color: rgb(60, 50, 50);
}

.load-spinner {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid rgb(0, 150, 220);
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes background-slide {
  0% {
    background-position: 0% 45%;
  }

  50% {
    background-position: 45% 100%;
  }

  100% {
    background-position: 0% 45%;
  }
}